.title {
  color: var(--textBrown);
  font-size: 40px;
  font-weight: 600;
  padding: 40px 0px;
  text-align: center;
}

.cardContainer {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  gap : 30px;
}

.cardContainer::-webkit-scrollbar { /* For Chrome, Safari and Opera */
  display: none;
}

.card {
  flex: 0 0 auto;
}

